<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Welcome Page </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form action="/login" method="POST" th:object="${user}">
    <span>Welcome to online-shop</span><br/>
    <input name="username" placeholder="Enter your name"><br/>
    <input type="password" name="password" placeholder="Enter password"><br/>
    <button type="submit">Enter</button> </br>
    <input type="checkbox" name="check"><span>Accept a licensing agreement </span>
</form>
<a href="/new"> Register </a>
</body>
</html>